@import "./abstracts/_variables.scss";
@import "./abstracts/_media.scss";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
#root,
body,
.App {
  height: 100%;
  font-family: "Space Mono", sans-serif;
}

body {
  background: $lightgrayishcyan;

  .App {
    display: grid;
    place-items: center;
    width: 60%;
    margin: 0px auto;

    @include large_desktop {
      width: 1500px;
    }

    @include tablet {
      width: 80%;
    }

    @include mobile {
      width: 100%;
      place-items: end;
    }
  }
}
